.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: #282c34;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;            /* Remove bullet points */
    padding: 0;                  /* Remove padding */
    margin: 0;                   /* Remove margin */
  }
  
  nav ul li {
    display: inline;             /* Display list items inline */
    margin-left: 20px;           /* Add spacing between menu items */
  }
  
  nav ul li a {
    color: #282c34;                /* Text color */
    text-decoration: none;       /* Remove underline */
  }
  
  nav ul li a:hover {
    text-decoration: underline;  /* Add underline on hover */
  }
  